body {
    background-color: white
    ;
}

ul {
		list-style-type: none;
}

a:link, a:visited {
    background-color: lightgray;
    color: gray;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: navy;
}


