body {
    background-color: white
    ;
}

ul {
		list-style-type: none;
}

a:link, a:visited {
    background-color: lightgray;
    color: gray;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: navy;
}


body {margin:0;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: steelblue;
}

.active {
    background-color: limegreen;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="riverdale.github.io">Home</a></li>
  <li><a href="riverdale.github.io/characters.html">Characters</a></li>
</ul>

<div style="padding:20px;margin-top:30px;background-color:white;height:1500px;">

font-family: 'Junge', serif;

</body>


