body {
    background-color: white
    ;
}

ul {
		list-style-type: none;
}

a:link, a:visited {
    background-color: lightgray;
    color: gray;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: navy;
}

html {
	height:100%;
}
body{
		background-image: url("https://www.planwallpaper.com/backgrounds#static/images/violet-vector-leaves-circles-backgrounds-for-powerpoint_PdfkI4q.jpg"0;
		background-position: center center;
		background-size: cover;
			}

